<!-- Calculate the post's reading time, and display the word count in tooltip -->

{% assign words = include.content | reading_text | number_of_words: 'auto' %}

<!-- words per minute -->

{% assign wpm = 180 %}
{% assign min_time = 1 %}

{% assign read_time = words | divided_by: wpm %}

{% unless read_time > 0 %}
  {% assign read_time = min_time %}
{% endunless %}

{% if page.read_time and page.read_time != false %}
  {% assign read_time = page.read_time | plus: 0 | at_least: 1 %}
{% endif %}

{% capture read_prompt %}
  {{- site.data.locales[include.lang].post.read_time.prompt -}}
{% endcapture %}

<!-- return element -->
<span
  class="readtime"
  data-bs-toggle="tooltip"
  data-bs-placement="bottom"
  title="{{ words }} {{ site.data.locales[include.lang].post.words }}"
>
  {% if include.lang == 'ko-KR' %}
    약 {{ read_time }}분
  {% else %}
  <em>
    {{- read_time -}}
    {{ ' ' }}
    {{- site.data.locales[include.lang].post.read_time.unit -}}
  </em>
  {%- if include.prompt -%}
    {%- assign _prompt_words = read_prompt | number_of_words: 'auto' -%}
    {%- unless _prompt_words > 1 -%}{{ ' ' }}{%- endunless -%}
    {{ read_prompt }}
  {%- endif -%}
  {% endif %}
</span>
